body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--light);
    color: var(--dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#spa-content {
    flex: 1;   
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}


.spa-loading {
    text-align: center;
    padding: 50px;
}
