/* Media Queries para hacer la página responsive */

/* Dispositivos pequeños (móviles) */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    section {
        padding: 60px 10px 20px 10px;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
}

/* Dispositivos medianos (tabletas) */
@media (max-width: 1024px) {
    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    h1, h2 {
        font-size: 1.8em;
    }

    p {
        font-size: 1.1em;
    }
}

/* Dispositivos grandes (laptops y desktop) */
@media (min-width: 1025px) {
    nav ul {
        flex-direction: row;
        justify-content: flex-end;
    }

    section {
        padding: 80px 20px 20px 20px;
    }

    h1, h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }
}
